.fixedHeader {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  p {
    margin: 0;
    padding: 1rem;
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    span {
      text-decoration: italic;
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
}
