.sectionTop {
  background: url('../water-bg.gif');
  width: 100%;
  background-size: cover;
  height: 35rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  h2 {
    font-weight: 600;
    font-size: 3rem;
    width: 40rem;
    margin-bottom: 2rem;
  }
  p {
    width: 38rem;
    margin: 0;
    font-size: 1.7rem;
    span {
      margin-top: 0.7rem;
      font-weight: 600;
      font-size: 1.5rem;
    }
  }
}
